*
{
    padding: 0;margin: 0;box-sizing: border-box ;
}
body{
    background-image: url(https://cdn.shopify.com/s/files/1/0044/1208/0217/products/MXEONMBBLK_01_2000x.jpg?v=1600513800);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}
.menu
{
    text-align: center;
background-color: darkblue;}
.menu ul{
    list-style: none;
    display: inline-flex;
}
.menu ul li
{
    width:  150px;
    margin: 15px;
    padding: 15px;


}
.menu ul li a
{
    text-decoration: none;
    font-family: arial;
    text-transform: uppercase;
    color: white;

}